<%= form_for @review, url: reviews_path, method: :post, :html => { :multipart => true } do |f| %>
<%= f.text_field :place_id, :value => @place.id %>

<div class="form-group" >
    <p><strong> <%= f.label :review %> </strong></p>
    <%= f.text_field :review,  class: "form-control", placeholder: "Tell us about your experience" %>

<div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
</div>
