<%= link_to 'Back', places_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        
    </div>
    
      <div class="panel-body">
    <p><strong><p><%= @place.kind %></p></strong></p>
    <p><strong><p><%= @place.description %></p></strong></p>
    <p><strong><p><%= @place.kind %></p></strong></p>
    <p><strong><p><%= @place.kind %></p></strong></p>
    <p><strong><p><%= @place.kind %></p></strong></p>
    

    <% if @place.user == current_user %>
      <%= link_to edit_place_path(@place) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
    <% end %>
    <%= form_for @place, html: { multipart: true } do |f| %>
    <div class="form-group" >
     </div>
  
  <% end %> 

    </div>
  </div>

</div>	